<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azare.app.healthmonitor">

    <!-- Permission required to Waking Lock if device screen is off -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <receiver
            android:name=".utils.BPEveningAlarm"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".BPAfternoonAlarm"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".utils.BPMorningAlarm"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListBPReading" />
        <activity android:name=".DummyBPActivity" />
        <activity android:name=".AddBPReading" />
        <activity android:name=".FilterBPActivity" />
        <activity android:name=".ListWeightRecord" />
        <activity android:name=".DummyWeightActivity" />
        <activity android:name=".AddWeightRecord" />
        <activity android:name=".ListAppointments" />
        <activity android:name=".DummyApptActivity" />
        <activity android:name=".ViewApptActivity" />
        <activity android:name=".AddApptActivity" />
        <activity android:name=".DummyReminder" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".AlarmSoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".AlarmNotificationService"
            android:exported="false" />

        <activity android:name=".BPReminderActivity" />
    </application>

</manifest>